---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Mat"
	pubDate={new Date('7 September 2025')}
>
<p>I'm a Senior Data Scientist, working on AI and Privacy Enhancing Technologies at the
	Data Science Campus of the UK Office for National Statistics.
	Prior to joining the ONS, I worked at the Department for Education as an Economic Adviser.</p>

<p>Before joining the civil service, 
	I completed a PhD in statistics and conducted research in the economics of education at the University of Lancaster.
	Before that, I worked for several years in administrative jobs in the private and public sectors.</p>

	<hr>

<h3>Civil service code</h3>

<p>As a civil servant, I take my responsibilities to comply with 
	the <a href="https://www.gov.uk/government/publications/civil-service-code/the-civil-service-code">
		Civil Service Code</a> seriously.
	I endeavour not to express any opinions that would bring my integrity, honesty, objectivity and impartiality into doubt.
	Please get in touch if you see anything here that you think isn't compatible with my public service role.</p>


<hr>
<h3>Website details</h3>

<p>This website was built with <a href="https://astro.build">Astro</a>.</p>
</Layout>
